$default-font-size: 16px;

$color-primary-light: #FFDA6A;
$color-primary-medium: #CC9A06;
$color-primary-dark: #664D03;

$color-secondary: ("color-100": #F8F9FA,
    "color-200": #E9ECEF,
    "color-300": #DEE2E6,
    "color-400": #CED4DA,
    "color-500": #ADB5BD,
    "color-600": #6C757D,
    "color-700": #343A40,
    "color-800": #343A40,
    "color-900": #212529);

$color-white: #fff;
$color-black: #000;

$btn-height: 10rem;