html {
    font-family: 'Montserrat', sans-serif;
}

.heading-primary {
    letter-spacing: .5rem;
    color: map-get($color-secondary, "color-100");

    &--title,
    &--subtitle {
        display: block;
        text-align: center;
        line-height: 2;
    }

    &--title {
        letter-spacing: -1px;
        font-weight: 300;
        font-style: italic;
        font-size: 5rem;
    }

    &--subtitle {
        font-size: 6.5rem;
        text-transform: uppercase;
    }
}

.heading-secondary {
    color: map-get($color-secondary, "color-900");

    &--title,
    &--subtitle {
        display: block;
        text-align: center;
        line-height: 1.7;
    }

    &--title {
        text-transform: uppercase;
        font-size: 5rem;
    }

    &--subtitle {
        font-size: 2rem;
        font-style: italic;
        font-weight: 300;
    }
}

.heading-tertiary {
    font-size: 2.5rem;
    color: map-get($color-secondary, "color-900");
}

.description {
    font-size: 1.6rem;
}